# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual envs
venv/
.venv/
.env/

# Packaging / build artifacts
*.spec
*.egg-info/
build.sh
build/
dist/*
!dist/img-to-svg

# OS / editor
.DS_Store
.idea/
.vscode/

# Logs
*.log
